*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-family: verdana;
}
#top-pic{
	background:url(../images/landing-pic.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:600px;
	padding:20px 0;
}
nav{
	margin: auto;
	text-align: center;
}
nav a{
	padding: 3em;
    font-size: 1em;
    text-align: center;
    text-transform: uppercase;
    color: #ffffff;
}
nav a:hover{
	color: #323232;
}
.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}
#top-wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 20px;
	background-color: #f4ecdf;
}
h1 {
    font-weight: normal;
    font-size: 3em;
    text-align: center;
    margin: 200px;
    color: #fff;
}
h2{
	font-size: 16px;
	padding: 1.5em;
	font-weight: bold;
	text-align: center;
	color: #5183a7;
	text-transform: uppercase;
}
#top-wrapper{
	width: 100%;
	margin: 0 auto;
	padding: 20px;
}
#about-me{
	float: left;
	line-height: 30px;
    padding: 1.5em;
    background-color: #fff
}
#about-me img{
	float: right;
	display: block;
}
#project{
	background-color: grey;
	padding: 1em;
	color: #000;
	background-color: #e4edf1;
}
#col-container{
	max-width: 1200px;
	margin: 0 auto;
	overflow: hidden;
}
.row{
	float: left;
    width: 23%;
    margin: 11px;
}
footer{
	background-color: #fff;
}
@media only screen and (max-width:)

}
