*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	background-color: black;
	font-family: verdana;
	position: relative;
}
#top-pic{
	background:url(../images/landing-pic.jpg) no-repeat center center scroll;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	height:600px;
	padding:20px 0;
}
nav{
	margin: auto;
	text-align: center;
}
nav li{
	display: inline;
	margin-left: 55px;
	padding: 55px;
}
nav a{
	color: #323232;
	display:inline-block;
	padding:2em;
	text-decoration: none;
}
nav a:hover{
	color: #ffffff;
}
h1{
	font-family: oswald;
	font-weight: normal;
	font-size:60px;
	text-align:center;
	color:#fff;
	margin:200px 0 0;
}
main{
	background-color: #F1E9E4;
	color:#3C3C3C;
	padding:50px 0;
}
#project-wrap{
	width: 90%;
	margin: auto;
}
.site{
	float: left;

}
.clearfix:after{
	height:0;
	font-size:0;
	visibility:hidden;
	display:block;
	content:" ";
	clear:both;
}
h2{
	text-align: center;
	font-size: 18px;
}
h2{
	font-size:.8em;
	text-transform: uppercase;
	letter-spacing: 2px;
	margin:0 0 2.5em;
}
#about-me{
	background-color: #ffffff;
	color:#323232;
	padding:5em 10% 7em;
	line-height: 30px;
}
#about-me img{
	float: right;
}
footer{
	background-color: #837c24;
	height: 3.5em;
}
footer img{
	float: right;
	padding-right: 20px;

}
footer a{
	color: #ffffff;
}
footer a:hover{
	color: #3182e6;
}
@media screen and (max-width:1645px)

