body {
	background-color: #727272;
}
/*slogan*/

#slogan {
	font-size: 35px;
	font-family: veranda;
	font-style: italic;
	color: #5d0101;
	text-align: right;
	padding: 5px;
}

img {
	border: 1px solid #5d0101;
	border-radius: 15px;
}

#portfolio {
	font-size: 30px;
	font-family: veranda;
	font-style: bold;
	color: #5d0101;
	text-align: left;
}

p {
	font-family: veranda;
	font-size: 20px;
	color: #e3d8d8;
	text-align: left;
	
}

#design {
	font-size: 30px;
	font-family: veranda;
	font-style: bold;
	color: #5d0101;
	text-align: left;
}

ul{
	font-family: veranda;
	font-size: 20px;
	color: #5d0101;
}

a:link {
	text-decoration: none;
	color: #e3d8d8 ;
	text-align: left;
}

#contact {
	font-size: 20px;
	font-family: veranda;
	font-style: bold;
	color: #5d0101;
	text-align: left;
	text-transform: uppercase;
}


